@import url("../css/colorSheet.css");

.startScreen{
    width: 206vh;
    height: 97.5vh;
    display: grid;
    place-items: center;
}

.startDecor{
    float: left;
    height: 600px;
    width: 100px;
    background-color: var(--panel-dark);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
}

.startPanel{
    float: left;
    height: 600px;
    width: 400px;
    background-color: var(--panel-dark);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    display: grid;
    place-items: center;
}

.startCardDecorTop{
    background-color: var(--panel-light);
    width : 330px;
    height : 100px;
    border-radius : 0px 0px 25px 25px;
    display: grid;
    place-items: center;
    font-size : 100px;
    line-height: 0;
    margin-top: -48px;
}

.startCardDecorBottom{
    background-color: var(--panel-light);
    width : 330px;
    height : 100px;
    border-radius : 25px 25px 0px 0px;
    display: grid;
    place-items: center;
    font-size : 60px;
    line-height: 0;
    margin-bottom: -48px;
}

.hinted{
    margin-top: -40px;
    margin-bottom: -40px;
}

.startCardMiddle{
    text-align: left;
    margin-left: -50px;
    font-size : 40px;
    line-height: 0.4;
    margin-top: 0;
    margin-bottom: 0;
}

