@import url("/GuessTheNumber/css/gameScreen.css");
@import url("/GuessTheNumber/css/startScreen.css");
@import url("/GuessTheNumber/css/resultScreen.css");
@import url("/GuessTheNumber/css/animations.css");
@import url("/GuessTheNumber/css/colorSheet.css");

@font-face{
    font-family: Mighty Souly;
    src: url("/GuessTheNumber/Misc/MightySouly-lxggD.ttf");
}



body{
    background-image: url("/GuessTheNumber/Images/darkBackground.png");
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: "Mighty Souly";
    cursor: url(/GuessTheNumber/Misc/mouse.png), auto;
}

p:hover{
    cursor:  url(/GuessTheNumber/Misc/mouse.png), auto;
}

.startCardDecorBottom{
    cursor: url(/GuessTheNumber/Misc/pointy.png), auto;
}

#giveUpBtn{
    cursor: url(/GuessTheNumber/Misc/pointy.png), auto;
}

.diceSingle{
    cursor: url(/GuessTheNumber/Misc/pointy.png), auto;
}

button{
    cursor: url(/GuessTheNumber/Misc/pointy.png), auto;
}

.hidden{
    display: none !important;
}

.targetArea{
    width : 1200px;
    height : 600px;
    /*background-color: #5e0000;*/
}

.colorModeBtn{
    z-index: 999;
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--text-color);
    background-color: var(--main-color);
    font-family: "Mighty Souly";
    text-align: center;
    width: 70px;
    height: auto;
    font-size: 20px;
    border-radius: 7px;
    border-color: var(--text-color);
}

.colorModeBtn:active{
    filter: grayscale(0.5);
}

